@import 'bourbon/bourbon';
@import 'neat/neat';


$max-width: 80%;

$primary-color: blue;
$secondary-color: teal;



body {
  margin: 0 auto;
  color: blue;
  font-size: 1.2em;
}

.blog-post-heading {
  width: 80%;
  font-size: 2em;
  color: navy;
  text-align: center;
}

li {
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
  list-style: none;
}

.blog-edit {
  
}

.new-post-wrap {
  margin-top: 50px;

}

.add-post-button {
  margin-top: 100px;
  margin-left: 40px;
}

.new-post-wrap {
  /*visibility: hidden;*/
}

.new-post-title,
.new-post-body,
.submit-new-post {
  display: block;
  margin: 20px 100px;
}

