@import 'bourbon/bourbon';
@import 'neat/neat';


$max-width: 80%;

$primary-color: blue;
$secondary-color: teal;



body {
  margin: 0 auto;
  color: blue;
  font-size: 1.2em;
}

.page-header {
  margin: 40px auto;
  width: 80%;
  text-align: center;
  font-size: 4em;
}

.container {
  @include outer-container;
  border: 3px solid blue;
}

.box {
  @include span-columns(3);
  padding: 10px;
  width: 23%;
  height: 130px;
}

.box:nth-child(4n) {
  @include omega();
}

.box:hover {
  border-top: 1px solid blue;
  border-right: 3px solid blue;
  border-bottom: 3px solid blue;
  border-left: 1px solid blue;
  cursor: pointer;
}

.p1 {
  background: url('../images/anxious.png');
}

.p2 {
  background: url('../images/bored.png');
}

.p3 {
  background: url('../images/cold.png');
}

.p4 {
  background: url('../images/confident.png');
}

.p5 {
  background: url('../images/curious.png');
}

.p6 {
  background: url('../images/disappointed.png');
}

.p7 {
  background: url('../images/disgusted.png');
}

.p8 {
  background: url('../images/exhausted.png');
}

.p9 {
  background: url('../images/happy.png');
}

.p10 {
  background: url('../images/hot.png');
}

.p11 {
  background: url('../images/hysterical.png');
}

.p12 {
  background: url('../images/interested.png');
}

.p13 {
  background: url('../images/lonely.png');
}

.p14 {
  background: url('../images/satisfied.png');
}

.p15 {
  background: url('../images/surprised.png');
}

.p16 {
  background: url('../images/thoughtful.png');
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9,
.p10,
.p11,
.p12,
.p13,
.p14,
.p15,
.p16 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.express-yourself {
  display: block;
  margin: 40px auto;
  border-radius: 20px;
  background-color: blue;
  width: 80%;
  height: 50px;
  color: white;
  font-size: 1.2em;
}

/**************************
Expression.html code below
***************************/

.showemotion-border {
  margin: 100px auto;
  border-radius: 20px;
  background-color: black;
  padding: 20px;
  width: 640px;
  height: 440px;
}

.showemotion-wrap {
/*   margin: 100px auto; */
  border: 3px solid black;
  border-radius: 20px;
  background-color: black;
/*   background-image: url('http://media4.giphy.com/media/Zt2f45vHLZtaU/200.gif'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 600px;
  height: 400px;
}

.subtitle {
  margin: 20px auto;
  text-align: center;
}

.show-songs {
  margin: 40px auto;
  border: 3px solid blue;
  border-radius: 20px;
  width: 300px;
  height: 300px;

}
